{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Kirjaudu</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
    <br>
    <p><a href="{{ url_for('main.newpassword') }}">Unohtuiko salasana?</a></p>
    <p><a href="{{ url_for('main.signup') }}">Uusi käyttäjä?</a></p>
</div>
{% endblock %}