{% extends "base_auth.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
{% endblock %}

{% block content %}
<div class="container-base">
    {% block page_content %}
    <div class="col-md-8">
    {% for card in cards %}
    <div class="card">
      <h6 class="card-header">{{ category_mapping[card.primary_category] }}</h6>
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ url_for('auth.card', id=card.id) }}">
            {{ card.question }}
          </a>
        </h5>
      </div><!-- card-body -->
    </div><!-- card -->
    {% endfor %}
  </div><!-- col-md-8 -->
    {% endblock %}
</div>

{% block footer %}
<script src="https://kit.fontawesome.com/87283090d5.js" crossorigin="anonymous"></script>    
<nav class="navbar fixed-bottom" id="fixed-bottom">
    <div class="container-fluid">
      <a class="fa-solid fa-house fa-lg" href="{{ url_for('auth.home') }}" style="color: #52567A;"></a>
      <a class="fa-solid fa-square-plus fa-lg" href="{{ url_for('auth.newcard') }}" style="color: #000000;"></a>
      <a class="fa-solid fa-bell fa-lg" href="#" style="color: #000000;"></a>
      <a class="fa-solid fa-user fa-lg" href="#" style="color: #000000;"></a>
    </div>
</nav>
{% endblock %}
{% endblock %}




