{% extends "base_auth.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
{% endblock %}
{% block content %}
<div class="container-base">
{% block page_content %}
<div class="col-md-8">
  <div class="col-lg-8" id="form">
    <h1>Aloita uusi keskustelu</h1>
    <p class="lead">Huom! Tarkista olemassa olevat ketjut.</p>
    {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
    {{ form.hidden_tag() }}
    <br>
  </div>
</div>
{% endblock %}
</div>
{% block footer %}
<script src="https://kit.fontawesome.com/87283090d5.js" crossorigin="anonymous"></script>    
<nav class="navbar fixed-bottom" id="fixed-bottom">
  <div class="container-fluid">
    <a class="fa-solid fa-house fa-lg" href="{{ url_for('auth.home') }}" style="color: #000000;"></a>
    <a class="fa-solid fa-square-plus fa-lg" href="{{ url_for('auth.newcard') }}" style="color: #6B6BEF;"></a>
    <a class="fa-solid fa-bell fa-lg" href="#" style="color: #000000;"></a>
    <a class="fa-solid fa-user fa-lg" href="{{ url_for('auth.profile', id=current_user.id) }}" style="color: #000000;"></a>
  </div>
</nav>
{% endblock %}
{% endblock %}
