{% extends "base_auth.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="page-header"><h1>Käyttäjähallinta</h1></div>
<div class="col-md-8" id="allUsers">
<form method="POST" action="">
    {{ form.csrf_token }}
    <button type="submit" class="btn btn-primary">Päivitä</button>
    {% for user in users %}
    <div class="row"><label for="fname">{{ user.username }}</label><br></div>
    <div class="row row-cols-auto">
        <div class="col-xs-6">
            <input type="text" id="fname" name="fname" placeholder="{{ user.email }}"><br>
        </div>
        <div class="col-xs-3">
            <select id="rooli" name="rooli">
                <option value="user" {% if user.role == 1 %}selected{% endif %}>User</option>
                <option value="moderator" {% if user.role == 9 %}selected{% endif %}>Moderator</option>
                <option value="admin" {% if user.role == 16 %}selected{% endif %}>Admin</option>
            </select>
        </div>
        <div class="col-xs-3">
            <label for="aktiivinen">Tila</label>
            <input type="checkbox" id="aktiivinen" name="aktiivinen" {% if user.is_active %}checked{% endif %}>
        </div>
    </div>
    {% endfor %}


    
</form>
</div> <!-- /container -->

{% endblock %}

