{% extends "base_auth.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Käyttäjähallinta</h1>
</div>
<form method="POST" action="">
    {{ form.csrf_token }}
    <table class="table">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Email</th>
                <th>Tila</th>
                <th>Rooli</th>
            </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ form[user.id].is_active() if user.id in form else '' }}</td>
              <td>{{ form[user.id].role.label if user.id in form else '' }}</td>
          </tr>
          {% endfor %}
        </tbody>          
    </table>
    <button type="submit" class="btn btn-primary">Päivitä</button>
</form>
{% endblock %}
